<head>
    <script
        src="https://unpkg.com/htmlx.org@2.0.0"
        integrity="sha384-wS5L5IKJBvK6sPTKa2WZ1"
        crossorigin="anonymous">
    </script>
</head>
<body>
    <h1>Tasks</h1>
    <ul id="tasks">
        {{range .todos}}
            <li>
                {{.Title}} - {{.Status}}
                <button hx-delete="/todos/{{.Id}}">Delete</button>
            </li>
            {{else}}
                <li>No tasks found.</li>
        {{end}}
    </ul>
    <form
        hx-post="/todos"
        hx-target="#tasks"
        hx-swap="beforeend"
    >
        <input name="title">
        <input name="status">
        <button>Save</button>
    </form>
</body>